# ignore PyCharm environment directory
.idea

# ignore JuptyerLab notebook environment directory
.ipynb_checkpoints

# ignore big* .parquet files as over ~300 MB to 1GB
big_*

# ignore CDS config file
.cdsapirc
*.cdsapirc
